button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
  }
  
  .colorButton:hover {
    outline: none; 
    background-color: #004080;
    color:white;
}